<div class="footer mb-5">
  <div class="container">
    <div class="row ">
      <div class="col-sm-8 text-muted text-left">
        Copyright 
      </div>
      <div class="col-sm-4 text-right">
        <a href="#">Back to Top</a>
      </div>   
    </div>
  </div>
</div>
